div{
    font-size:25px;
    width:200px;
    height: 200px;
    background-color: red;
    margin:40px auto;
    outline-style:dotted;
    outline-width: 20px;
    outline-color: greenyellow;
}
div:hover{
    outline-width: 10px;
    outline-color: black;
}