div{
    width: 20.85vmin;
    height: 20.85vmin;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
[class^="rojo"]{
    background-color: rgb(255, 0, 0);
}
[class^="verde"]{
    background-color: rgb(0, 255, 0);
}
[class^="azul"]{
    background-color: rgb(0, 0, 255);
}
[class^="violeta"]{
    background-color: rgb(255, 0, 255);
}
[class^="cian"]{
    background-color: rgb(0, 255, 255);
}
[class^="amarillo"]{
    background-color: rgb(255, 255, 0);
}

h2{
    font-size: 3.5vmin;
    font-style: italic;
}
#título-1{
    width: 26vmin;
    margin-left:auto;
    margin-right: auto;
}
#título-2{
    width: 29.5vmin;
    margin-left:auto;
    margin-right: auto;
    clear: both;
}

header{
    width: 67.8vmin;
    height: 20.85vmin;
    margin-left:auto;
    margin-right:auto;
}
[class$="-1"]{
    float:left;
}
.rojo-1, .verde-1{
    margin-right: 2.6vmin;
}

main{
    width: 72.4vmin;
    height: 65.6vmin;
    margin-left:auto;
    margin-right:auto;
}
.rojo-2, .azul-2, .violeta{
    float:left;
    margin-bottom:1.53vmin;
}
p{
    font-weight: bold;
    font-size:3.1vmin;
    float:left;
    margin:9.3vmin 1.55vmin 0vmin;
}

.azul-3{
    clear:both;
}
.azul-3, .verde-2, .cian{
    float:left;
    margin-bottom:1.53vmin;
}

.verde-3{
    clear:both;
}
.verde-3, .rojo-3, .amarillo{
    float:left;
}