div{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
}
[class^="rojo"]{
    background-color: rgb(255, 0, 0);
}
[class^="verde"]{
    background-color: rgb(0, 255, 0);
}
[class^="azul"]{
    background-color: rgb(0, 0, 255);
}
[class^="violeta"]{
    background-color: rgb(255, 0, 255);
}
[class^="cian"]{
    background-color: rgb(0, 255, 255);
}
[class^="amarillo"]{
    background-color: rgb(255, 255, 0);
}

h2{
    font-size: 35px;
    font-style: italic;
}
#título-1{
    width: 260px;
    margin-left:auto;
    margin-right: auto;
}
#título-2{
    width: 295px;
    margin-left:auto;
    margin-right: auto;
    clear: both;
}

header{
    width: 650px;
    height: 200px;
    margin-left:auto;
    margin-right:auto;
}
[class$="-1"]{
    float:left;
}
.rojo-1, .verde-1{
    margin-right: 25px;
}

main{
    width: 700px;
    height: 600px;
    margin-left:auto;
    margin-right:auto;
}
.rojo-2, .azul-2, .violeta{
    float:left;
    margin-bottom:15px;
}
p{
    font-weight: bold;
    font-size:30px;
    float:left;
    margin:90px 15px 0px;
}

.azul-3{
    clear:both;
}
.azul-3, .verde-2, .cian{
    float:left;
    margin-bottom:15px;
}

.verde-3{
    clear:both;
}
.verde-3, .rojo-3, .amarillo{
    float:left;
}